/* CSS BY MEREDITH EVANS */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS REST */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* html5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    min-width: 300px;
	font-family: 'Playfair Display', serif;
	background-color: var(--soft-white);
}

h1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 2em;
	color: var(--midnight-blue);
}

h3, nav ul li {
	font-size: 1.5em;
	font-weight: bold;
}

a {
	text-decoration: none;
}

p, ul, figcaption, footer {
	color: var(--dark-charcoal);
	font-size: 1em;
	line-height: 1.33em;
}

p {
	padding: 1em 0 1em 0;
}

header div, nav, main, aside, footer {
	padding: 1em;
}

section {
	padding: 1em 0 1em 0;
}

/* header */ 
header, footer {
	background-color: var(--midnight-blue);
	color: var(--soft-white);
}

header img {
	width: 75%;
}

header h2 {
	font-style: italic;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: var(--soft-white);
}

header div, footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

nav {
	background-color: var(--champagne-gold);
	color: var(--midnight-blue);
}

nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

nav ul a {
	color: var(--midnight-blue);
}

nav ul a:hover, footer a:hover {
	filter: brightness(200%);
	transition: 0.75s;
}

/* main */
main h2, aside h2 {
	padding: 0.5em 0 0.5em 0;
}

section, aside {
	border-bottom: 2px solid var(--champagne-gold);
}

main ul li, main ul p, aside a {
	background-color: var(--olive-green);
	color: var(--linen)
}

main ul li, figure {
	margin: 0.5em 0 0.5em 0;
}

main ul li {
	padding: 1em;
	border-radius: 0.33em;
}

main ul li ul li {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0;
	margin: 0 0 0 1em;
}

/* aside */
aside div {
	display: grid;
}

figure img {
	width: 100%;
	border-radius: 0.33em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

figcaption {
	padding: 0.5em;
	text-align: center;
	font-style: italic;
	box-shadow: 0em 0em 0.25em var(--dark-charcoal);
	border-radius: 0.33em;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

aside a {
	display: block;
	text-align: center;
	font-weight: bold;
	border-radius: 0.33em;
	padding: 1em;
	margin: 1em 0 1em 0;
}

/* footer */
footer {
	text-align: center;
}

footer p {
	color: var(--soft-white);
}

footer a {
	color: var(--champagne-gold);
	font-weight: bold;
}

/* MEDIA QUERY MEDIUM */
@media screen and (min-width: 600px) {

}

/* MEDIA QUERY LARGE */
@media screen and (min-width: 900px) {

}

/* MEDIA QUERY X-LARGE */
@media screen and (min-width:1200px) {

}